<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mtmi.minikgamzeler">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BizKimizActivity"
            android:label="Biz Kimiz" />
        <activity
            android:name=".DernekTuzuguActivity"
            android:label="Dernek Tüzüğü" />
        <activity
            android:name=".NedenCocuklarActivity"
            android:label="Neden Çocuklar" />
        <activity
            android:name=".SorulanSorularActivity"
            android:label="Sıkça Sorulan Sorular" />
        <activity
            android:name=".YonetimKuruluActivity"
            android:label="Yönetim Kurulu" />
        <activity
            android:name=".IntroSliderActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Giriş Yap" />
        <activity android:name=".AdminHomePageActivity" />
        <activity
            android:name=".SignUpActivity"
            android:label="Kayıt Ol" />
        <activity
            android:name=".ResetPasswordActivity"
            android:label="Şifremi Unuttum" />
        <activity
            android:name=".ContactActivity"
            android:label="İletişim" />
    </application>

</manifest>